*
# Allow GitHub related files
!.gitattributes
!.gitignore
!.github
!.github/**/*
!README.md
!CONTRIBUTING.md
!examples/
!examples/TB_Example.vhd
!examples/Example.vhd
# Allow Doxygen file
!Doxyfile
# Allow script files
!scripts/
!scripts/**/*.tcl
!scripts/**/*.sh
!scripts/**/*.py
# Allow hardware related files
!hw
!hw/**/
# Allow XSA export from Vivado
!xilinx/
!xilinx/vivado/
!xilinx/vivado/**/
!xilinx/vivado/**/*.xsa
# Allow software related files
!sw
!sw/**
sw/**
!sw/audio_rms/
!sw/audio_rms/**
!sw/audio_rms/src/**
!sw/audio_rms/include/**
## Manage Vitis files according to https://docs.amd.com/r/en-US/ug1400-vitis-embedded/Source-Control
## Manage workspace level Vitis files
sw/**/_ide
!sw/**/_ide/version.ini
sw/**/.rigel_lopper
sw/.theia
## Manage platform component level Vitis files
sw/**/export
sw/**/hw/sdt
sw/**/resources
sw/**/logs
## Manage application component level Vitis files
sw/**/build
sw/**/compile_commands.json
# _ide already ignored by workspace level rules
# Docs for DAPI
!docs/
!docs/**/*
docs/*/src/*.aux
docs/*/src/*.fdb_latexmk
docs/*/src/*.fls
docs/*/src/*.toc
docs/*/src/*.log
docs/*/src/*.out
docs/*/src/*.synctex.gz
docs/*/src/*.pdf
docs/*/src/*.bbl
docs/*/src/*.bcf
docs/*/src/*.blg
docs/*/src/*.nav
docs/*/src/*.run.xml
docs/*/src/*.snm

# Abgabe
!CSA_Besprechungstermin02_Team05_AudioNEXT_Bericht_HaMa_LoNi_KnFe_ReMa_TuRi/
!CSA_Besprechungstermin02_Team05_AudioNEXT_Bericht_HaMa_LoNi_KnFe_ReMa_TuRi/**/*

# Vivado logs
vivado.jou
vivado.log
# Apple Files
.DS_Store